:root {
  --border-none: none;
  --border-thin: 1px;
  --border-book: 2px;
  --border-medium: 3px;
  --border-bold: 4px;
  --border-bold-L: 5px;
  --border-black: 6px;
  --border-black-L: 10px;
  --border-extraBlack: 12px;

  --border-thin-negative: -1px;
  --border-book-negative: -2px;
  --border-medium-negative: -3px;
  --border-bold-negative: -4px;
  --border-bold-L-negative: -5px;
  --border-black-negative: -6px;
  --border-black-L-negative: -10px;
  --border-extraBlack-negative: -12px;
}
