:root {
  --primary: #469910;
  --primary-1: #2B5C0A;
  --primary-2: #E3F0DB;
  --primary-3: #ff690050;
  --primary-4: #ff690065;
  --primary-5: #ff690080;
  --primary-6: #ff6900;

  --secondary: #0d55ff;
  --secondary-1: #0d55ff25;
  --secondary-2: #0d55ff35;
  --secondary-3: #0d55ff50;
  --secondary-4: #0d55ff65;
  --secondary-5: #0d55ff80;
  --secondary-6: #0d55ff;

  --tertiary: #0dffa4;
  --tertiary-1: #0dffa425;
  --tertiary-2: #0dffa435;
  --tertiary-3: #0dffa450;
  --tertiary-4: #0dffa465;
  --tertiary-5: #0dffa480;
  --tertiary-6: #0dffa4;

  --fourth: #150a44;
  --fourth-1: #150a4425;
  --fourth-2: #150a4435;
  --fourth-3: #150a4450;
  --fourth-4: #150a4465;
  --fourth-5: #150a4480;
  --fourth-6: #150a44;

  --white: rgb(255, 255, 255);
  --color-theme-base: rgb(255, 255, 255);
  --color-theme-base-rgba: rgba(255, 255, 255, 0.9);

  //Text colors
  --neutral-1: #e3e5e9;
  --neutral-2: #c8cbd4;
  --neutral-3: #adb2bf;
  --neutral-4: #9399aa;
  --neutral-5: #798196;
  --neutral-6: #515a6e;

  //Ecosystem colors
  --eco-1: #f8f9ff;
  --eco-2: rgb(242, 243, 250);
  --eco-3: #eef0f9;
  --eco-4: #eceef9;
  --eco-5: #dfe1f3;

  //Status colors
  --info-1: #004efa25;
  --info-4: #004efa65;
  --info: #004efa;

  --success-1: #00bb1925;
  --success-4: #00bb1965;
  --success: #00bb19;

  --warning-1: #ff870025;
  --warning-4: #ff870065;
  --warning: #ff8700;

  --error-1: #ff2d2125;
  --error-4: #ff2d2165;
  --error: #ff2d21;

  //labels Colors
  --nature-1: #01ac4c24;
  --nature: #01ac4c;

  --magenta-1: #ff267e24;
  --magenta: #ff267e;

  --coral-1: #ff4e4e24;
  --coral: #ff4e4e;

  --purple-1: #8154ef24;
  --purple: #8154ef;

  --apple-1: #80ec0424;
  --apple: #80ec04;

  --zink-1: #d2f00024;
  --zink: #d2f000;

  --lime-1: #37cc0024;
  --lime: #37cc00;

  --trabant: #4b4b4b;

  --color-thumb: rgba(180, 188, 233, 0.4);
  --color-thumb-hover: var(--base-6);
  --color-track: rgba(180, 188, 233, 0.2);

  //Stories Colors
  --lightYellow: #fff260;
  --softYellow: #fff26038;
  --strongYellow: #332a06;

  --lightPink: #ff1c55;
  --softPink: #ffa4bb38;
  --strongPink: #d20038;

  --lightGreen: #00bb06;
  --softGreen: #7bff7f38;
  --strongGreen: #005a03;

  --lightBlue: #6aaaff;
  --softBlue: #6cccff38;
  --strongBlue: #0217a0;

  --lightMauve: #ce79ff;
  --softMauve: #dda3ff38;
  --strongMauve: #7700bc;

  --bg-body: var(--eco-3);

  //#region "DIVIDERS"
  --bg-divider: var(--eco-4);
  --bg-divider-light: var(--white);
  //#endregion

  --color-code: rgba(0, 0, 0, 0.6);
}
