:root {
  /**
*Uselo para  animar elementos a la vista.
*/
  --ease-power2: cubic-bezier(0.215, 0.61, 0.355, 1);

  /**
*Uselo para aparecer elementos flotantes como Popovers y Datepickers tambien para animar elementos a la vista.
*/
  --ease-power3: cubic-bezier(0.23, 1, 0.32, 1);

  /**
*Uselo para aparecer elementos flotantes como  Panels View, Trays y Chats tambien para animar elementos a la vista.
*/
  --ease-power4: cubic-bezier(0.19, 1, 0.22, 1);

  --transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);

  --ease: cubic-bezier(0.19, 1, 0.22, 1);

  /**
*Uselo para crear transformaciones de morfologia (MorphSVG).
*/
  // $ease-elastic: Elastic.easeInOut.config(1, 0.5);
}
