:root {
  --spacing-XXS: var(--sizing-XXS);
  --spacing-XS: var(--sizing-XS);
  --spacing-S: var(--sizing-S);
  --spacing-M: var(--sizing-M);
  --spacing-L: var(--sizing-L);
  --spacing-XL: var(--sizing-XL);
  --spacing-XXL: var(--sizing-XXL);
  --spacing-XXXL: var(--sizing-XXXL);
}
