:root {
  --radius-radio: 50%;
  //Default
  --bg-radio: var(--eco-5);
  --color-radio: var(--neutral-6);
  --border-radio: var(--border-input);
  --border-radio-hover: var(--base-4);

  //active
  --bg-radio-active: var(--secondary);
  --border-radio-active: var(--border-input);

  //hover
  --border-radio-hover: var(--secondary-5);

  //Size
  --size-radio: 1.6rem;

  //eco
  --bg-radio-label-eco: var(--white);

  //disabled
  --color-radio-disabled: var(--neutral-3);
}
