:root {
  //Toast
  --bg-notification: var(--color-theme-base-rgba);
  --color-notification: var(--neutral-6);
  --border-notification: #ffffff20;
  --shadow-notification: 8px 10px 40px rgba(0, 0, 20, 0.22);
  --bg-divider-notification: var(--eco-5);
}
